<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/static/css/blogstyle.css">
    <title>Página Inicial</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
        <div class="menu-container">
            <button class="menu-button" onclick="toggleMenu()" style="margin-right: 20px;">☰</button>
            <div class="menu-dropdown">

                <a href="/views/html/profile.html">Perfil</a>
                <a href="/views/html/index.html">Home</a>
                <a href="/views/html/blog.html">Blog</a>
                <a href="/views/html/data.html">Pesquisa</a>
                <a href="/views/html/login.html" style="color: red;">Sair</a> <!--tem como deslogar?-->
                <div style="display:flex;">
                    <a href=""><img src="" alt=""></a>
                    <a href=""><img src="" alt=""></a>
                    <a href=""><img src="" alt=""></a>
                    <a href=""><img src="" alt=""></a>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div style="display: flex;">
            <div class="profile">
                <img src="/img/vetor-hacker.png" alt="" height="100px" width="100px">
            </div>
            <div class="postagem">
                <img src="" alt="">
                <p></p>
                <!--BOTÃO SE TIVER MAIS COMENTÁRIOS-->
            </div>
        </div>
        <div style="display: flex;">
            <div class="profile">
                <img src="/img/vetor-hacker.png" alt="" height="100px" width="100px">
            </div>
            <div class="postagem">
                <img src="" alt="">
                <p></p>
                <!--BOTÃO SE TIVER MAIS COMENTÁRIOS-->
            </div>
        </div>
        <div style="display: flex;">
            <div class="profile">
                <img src="/img/vetor-hacker.png" alt="" height="100px" width="100px">
            </div>
            <div class="postagem">
                <img src="" alt="">
                <p></p>
                <!--BOTÃO SE TIVER MAIS COMENTÁRIOS-->
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>© 2025 Tecnoautoritarismo</p>
    </footer>
    <script src="/views/javascript/script.js"></script>
</body>

</html>