<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/static/css/datastyle.css">
    <link rel="stylesheet" href="/views/static/css/responsivedata.css">
    <title>Página dos Dados</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
        <div class="menu-container">
            <button class="menu-button" onclick="toggleMenu()" style="margin-right: 20px;">☰</button>
            <div class="menu-dropdown">

                <a href="/views/html/profile.html">Perfil</a>
                <a href="/views/html/index.html">Home</a>
                <a href="/views/html/data.html">Pesquisa</a>
                <a href="/views/html/login.html" style="color: red;">Sair</a> <!--tem como deslogar?-->
                <div style="display:flex; justify-content: center; padding: 2px; margin: 2px;">
                    <a href=""><img src="/img/logoinsta.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logox.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logowhatsapp.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logoemail.png" alt="" width="15px"></a>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <h2 class="headline" style="color: white;">Resultados</h2>
        <p>Participaram dessa pesquisa um quociente de 43 pessoas dos mais diversos cursos do IFRN campus Pau dos
            Ferros.</p>

        <h2 class="headline" style="color:white; text-align: center; padding: 20px;">Análise</h2>
        <p>Apesar de ser um tema pouco discutido, acreditamos que este possa ser um grande imbróglio democrático. Um
            Estado autoritário que contém imenso poder sob os meios de comunicação, censurando-os, põe em cheque nossa
            liberdade e a prática de democracia. Sobretudo, a desinformação faz com que essa prática seja cada vez mais
            fácil e por isso este site existe. Aqui você poderá acessar informações confiáveis de sites sobre o tema!
    </section>
    <article>
        <h3>Outras exposições</h3>
        <img src="" alt="">
        <p>Intercept lança bolsas para reportagens sobre tecnoautoritarismo</p>
        <p>Em parceria com a Associação Data Privacy Brasil de Pesquisa, queremos publicar histórias sobre como o uso de
            tecnologias por governos pode violar direitos</p>
    </article>
    <footer>
        <div class="logo-footer">
            <h1 style="font-size: 34px; color: white; font-family: 'Pixelify Sans', cursive;">Tecnoautoritarismo</h1>
            <div style="display: flex; color: white; font-size: smaller; justify-content: center;">
                <img src="/img/logoinsta.png" alt="" width="25px" style="padding: 0 5px 0 5px;">@tecnoautoritarismo
                <img src="/img/logox.png" alt="" width="25px" style="padding: 0 5px 0 5px;">@tecnoautoritarismo
                <img src="/img/logowhatsapp.png" alt="" width="25px" style="padding: 0 5px 0 5px;">(11) 94002-8922
                <img src="/img/logoemail.png" alt="" width="25px" style="padding: 0 5px 0 5px;">tecnoautoritarismo@gmail.com
            </div>
        </div>
        <b style="color:white">© Todos os direitos reservados.</b>
    </footer>
    <script src="/views/javascript/script.js"></script>
</body>

</html>