<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/editprofilestyle.css">
    <title>Página Inicial</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
        <div class="menu-container">
            <button class="menu-button" onclick="toggleMenu()" style="margin-right: 20px;">☰</button>
            <div class="menu-dropdown">

                <a href="/views/html/profile.html">Perfil</a>
                <a href="/views/html/index.html">Home</a>
                <a href="/views/html/data.html">Pesquisa</a>
                <a href="/views/html/login.html" style="color: red;">Sair</a> <!--tem como deslogar?-->
                <div style="display:flex; justify-content: center; padding: 2px; margin: 2px;">
                    <a href=""><img src="/static/img/logoinsta.png" alt="" width="15px"></a>
                    <a href=""><img src="/static/img/logox.png" alt="" width="15px"></a>
                    <a href=""><img src="/static/img/logowhatsapp.png" alt="" width="15px"></a>
                    <a href=""><img src="/static/img/logoemail.png" alt="" width="15px"></a>
                </div>
            </div>
        </div>
    </nav>
    <section style="display: flex; justify-content: center; align-items: center;">
        <main>
            <div>
                <h1 style="color: white;">Alterar Senha</h1>
            </div>
            <form action="/views/html/profile.html">
                <div class="inputbox" style="position: relative;">
                    <input type="password" id="newpassword" required>
                    <label for="newpassword">Nova Senha</label>
                </div>
                <button onclick="updatePassword()">Atualizar</button> <br> <br> <!--Funcao de atualizar-->
                <button onclick="deleteUser()"
                    style="background-color: red; border-radius: 8px; font-size: small;">Deletar Conta</button>
                <!--Funcao de deletar-->
            </form>
        </main>
    </section>
    <footer class="footer">
        <p>© 2025 Tecnoautoritarismo</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/javascript/script.js"></script>
    <script src="/static/javascript/delete.js"></script>
    <script src="/static/javascript/atualizar.js"></script>
</body>

</html>