<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/indexstyle.css">
    <link rel="stylesheet" href="/views/responsiveindex.css">
    <title>Página Inicial</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
        <div class="menu">
            <a href="login.html">Login</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a id="contact" target="_blank" href="https://api.whatsapp.com/send?phone=5584987589404&text=Ol%C3%A1!">Contact Us</a>
        </div>
    </nav>
    <header class="header">
        <div class="headline">
            <h2 style="letter-spacing: 15px;">Você achou o melhor</h2>
            <h2 style="font-size: 80px;">SERVIÇO DE DDoS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nihil numquam ipsam suscipit nam debitis earum ab voluptates. Nesciunt fuga dolorem corrupti consequatur delectus libero minima accusamus porro eaque sapiente!</p>
            <a href="#" class="contact-btn">Contrate Agora</a>
        </div>
    </header>
    <section>
        <h2>O que podemos fazer pelo seu negócio?</h2>
        <div class="services">
            <div class="card">
                <div class="card-text">
                    <h3>Histórico de Ataque a Sites</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic ducimus perspiciatis dolor. Non, ab vitae? Mollitia illo inventore esse nam dolores, est, voluptate qui sint voluptatibus veniam reprehenderit sed!</p>
                </div>
                <div class="secret-text">
                    <h3>Outro Texto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic ducimus perspiciatis dolor. Non, ab vitae? Mollitia illo inventore esse nam dolores, est, voluptate qui sint voluptatibus veniam reprehenderit sed!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <h3>Treinamento Profissional</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic ducimus perspiciatis dolor. Non, ab vitae? Mollitia illo inventore esse nam dolores, est, voluptate qui sint voluptatibus veniam reprehenderit sed!</p>
                </div>
                <div class="secret-text">
                    <h3>Outro Texto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic ducimus perspiciatis dolor. Non, ab vitae? Mollitia illo inventore esse nam dolores, est, voluptate qui sint voluptatibus veniam reprehenderit sed!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <h3>Ameaças, Saques e Outros...</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic ducimus perspiciatis dolor. Non, ab vitae? Mollitia illo inventore esse nam dolores, est, voluptate qui sint voluptatibus veniam reprehenderit sed!</p>
                </div>
                <div class="secret-text">
                    <h3>Outro Texto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic ducimus perspiciatis dolor. Non, ab vitae? Mollitia illo inventore esse nam dolores, est, voluptate qui sint voluptatibus veniam reprehenderit sed!</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="logo-footer">
            <h1 style="font-size: 34px; color: white; font-family: 'Pixelify Sans', cursive;">BREAKING SITES</h1>
            <p style="color: white">Um serviço que destrói quem você mais odeia!</p>    
        </div>
        <b style="color:white">© Todos os direitos reservados.</b>
    </footer>
</body>
</html>