<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/indexstyle.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <title>Página Inicial</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
        <div class="menu-container">
            <button class="menu-button" onclick="toggleMenu()" style="margin-right: 20px;">☰</button>
            <div class="menu-dropdown">

                <a href="/views/html/profile.html">Perfil</a>
                <a href="/views/html/index.html">Home</a>
                <a href="/views/html/data.html">Pesquisa</a>
                <a href="/views/html/login.html" style="color: red;">Sair</a> <!--tem como deslogar?-->
                <div style="display:flex; justify-content: center; padding: 2px; margin: 2px;">
                    <a href=""><img src="/img/logoinsta.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logox.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logowhatsapp.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logoemail.png" alt="" width="15px"></a>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <h2 style="font-size: 50px; margin-top: -100px; padding-bottom: 30px;">A lesgislação brasileira: proteção e
            permissão do Tecnoautoritarismo</h2>
        <div class="headline" style="display: flex;">
            <img class="e-image" src="/img/vetor-server.png" width="200px" height="200px" alt="">
            <div class="content">
                <h2>O que é o Tecnoautoritarismo?</h2>
                <p>Tecnoautoritarismo é o uso de tecnologias digitais por regimes autoritários para controlar, vigiar e
                    manipular a sociedade, aproveitando ferramentas como coleta de dados, vigilância e comunicação
                    digital para enfraquecer direitos civis e centralizar o poder.</p>
                <p style="text-align: right;">Tecnoautoritarismo em Terras Brasilis: A fragilidade dos direitos
                    fundamentais na era dos Dados” (2021)</p>
            </div>
        </div>
        <h2 style="text-align: center; padding-top: 20px;">Mas... Existem exemplos?</h2>
        <div class="services">
            <div class="card">
                <div class="card-text" style="display: flex;">
                    <img class="e-image" src="/img/vetor-website-pages.png" width="150px" alt="">
                    <div class="card-content">
                        <h3>Social Score</h3>
                        <p>O Social Score, sistema de pontuação social do governo chinês, incentiva a conformidade às
                            leis e normas, recompensando comportamentos positivos. Apesar de parecer inofensivo, pode
                            funcionar como ferramenta de repressão social e tecnológica, com coleta massiva de dados sem
                            garantias de privacidade ou integridade para os cidadãos.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-text" style="display: flex;">
                    <div class="card-content">
                        <h3>O legado da Secom</h3>
                        <p>O The Intercept Brasil, em "A ascensão do Tecnoautoritarismo", alerta que a classificação de
                            influenciadores pode ameaçar a privacidade e facilitar perseguições políticas, ao tratar
                            críticos como inimigos do Estado.</p>
                    </div>
                    <img class="e-image" src="/img/vetor-notebook-user.png" width="190px" height="200px" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-text" style="display: flex;">
                    <img class="e-image" src="/img/vetor-hacker.png" width="200px" alt="">
                    <div class="card-content">
                        <h3>Da placa de carro ao CPF</h3>
                        <p>Na coletânea do Intercept, destaca-se o sistema de vigilância Córtex, que reconhece placas de
                            carros e acessa dados de infratores de trânsito. Contudo, sua falta de transparência e amplo
                            acesso a informações o aproximam do tecnoautoritarismo.</p>
                    </div>
                </div>
            </div>
            <div class="headline">
                <h2 style="text-align: center; padding: 20px;">Existem leis para isso?</h2>
            </div>
            <div class="card">
                <div class="card-text" style="display: flex;">
                    <div class="card-content">
                        <h3>Lei Geral de Proteção de Dados Pessoais</h3>
                        <p>No Brasil, a Lei Geral de Proteção de Dados (LGPD), instituída pela Lei nº 13.709/2018,
                            regula o tratamento de dados pessoais para garantir privacidade e segurança. Ela define
                            direitos, responsabilidades e critérios para coleta, uso e compartilhamento de dados,
                            priorizando transparência e consentimento. A Autoridade Nacional de Proteção de Dados (ANPD)
                            é responsável por fiscalizar sua aplicação.</p>
                    </div>
                    <img class="e-image" src="/img/vetor-lgpd.png" width="200px" height="150px" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-text" style="display: flex;">
                    <img class="e-image" src="/img/vetor-marco-civil.png" width="250px" height="190px" alt="">
                    <div class="card-content">
                        <h3>Marcos civis da internet</h3>
                        <p>O Marco Civil da Internet, instituído pela Lei nº 12.965/2014, regula o uso da internet no
                            Brasil, garantindo privacidade, liberdade de expressão e neutralidade da rede. Define
                            responsabilidades de provedores e regras para o tratamento e proteção de dados pessoais. O
                            Comitê Gestor da Internet (CGI.br) supervisiona sua implementação.</p>
                    </div>
                </div>
            </div>
            <div class="headline">
                <h2 style="text-align: center; padding: 20px;">E projetos e pesquisas sobre o assunto?</h2>
            </div>
            <div class="card">
                <div class="card-text" style="display: flex;">
                    <img class="e-image" src="/img/vetor-server.png" width="150px" height="150px" alt="">
                    <div class="card-content">
                        <h3>Projeto Integrador</h3>
                        <p>Este protótipo integra o projeto de quatro alunos do 3º ano de informática do IFRN Campus Pau
                            dos Ferros. Seu objetivo é conscientizar sobre o tecnoautoritarismo, considerado um grave
                            problema social e democrático, e sobre as leis que o combatem. A pesquisa foi conduzida com
                            estudantes e servidores do IFRN.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/views/html/data.html" class="contact-btn">Veja a análise dos dados!</a>
    </section>
    <article>
        <h3>Outras exposições</h3>
        <img src="" alt="">
        <p>Intercept lança bolsas para reportagens sobre tecnoautoritarismo</p>
        <p>Em parceria com a Associação Data Privacy Brasil de Pesquisa, queremos publicar histórias sobre como o uso de
            tecnologias por governos pode violar direitos</p>
    </article>
    <footer>
        <div class="logo-footer">
            <h1 style="font-size: 34px; color: white; font-family: 'Pixelify Sans', cursive;">Tecnoautoritarismo</h1>
            <div id="logos">
                <img src="/img/logoinsta.png" alt="" width="25px" style="padding: 0 5px 0 5px;">@tecnoautoritarismo
                <img src="/img/logox.png" alt="" width="25px" style="padding: 0 5px 0 5px;">@tecnoautoritarismo
                <img src="/img/logowhatsapp.png" alt="" width="25px" style="padding: 0 5px 0 5px;">(11) 94002-8922
                <img src="/img/logoemail.png" alt="" width="25px"
                    style="padding: 0 5px 0 5px;">tecnoautoritarismo@gmail.com
            </div>
        </div>
        <b style="color:white">© Todos os direitos reservados.</b>
    </footer>
    <script src="/static/javascript/script.js"></script>
</body>

</html>