<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginstyle.css">
    <title>Login</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
    </nav>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form id="login-form" action="/views/html/index.html">
                    <h2 style="font-size: 34px; color: white; font-family: 'Pixelify Sans', cursive;">Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" oninput="checkValue(this)" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="inputbox" style="position: relative;">
                        <input type="password" id="password" required>
                        <label for="password">Senha</label>
                        <ion-icon id="eyeIcon" name="eye-off-outline" onclick="togglePassword()"
                            style="cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></ion-icon>
                    </div>
                    <button class="button" onclick="login()">Log In</button> <br> <br>
                </form>
            </div>
        </div>
        <div class="form-stepbox">
            <div class="register">
                <p>Não possui uma conta? <a href="/views/html/register.html">Registre-se</a></p>
            </div>
        </div>
    </section>
    <p id="message"></p>
    <footer class="footer">
        <p>© 2025 Tecnoautoritarismo</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/javascript/script.js"></script>
    <script src="/static/javascript/login.js" defer></script>
</body>

</html>