<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/passwordstyle.css">
    <title>Recuperar senha</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
    </nav>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2 style="font-size: 34px; color: white; font-family: 'Pixelify Sans', cursive;">Recuperar senha</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" oninput="checkValue(this)" required>
                        <label for="email">E-mail</label>
                    </div>
                </form>
                <button>Enviar</button>
            </div>
        </div>
    </section>
    <footer class="footer"><p>© 2025 Tecnoautoritarismo</p></footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        function checkValue(input){
            if (input.value.trim() !== ''){
                input.classList.add('has-value');
            } else {
                input.classList.remove('has-value');
            }
        }
    </script>
</body>
</html>