<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/static/css/profilestyle.css">
    <title>Página Inicial</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Tecnoautoritarismo</h1>
        </div>
        <div class="menu-container">
            <button class="menu-button" onclick="toggleMenu()" style="margin-right: 20px;">☰</button>
            <div class="menu-dropdown">
                <a href="/views/html/profile.html">Perfil</a>
                <a href="/views/html/index.html">Home</a>
                <a href="/views/html/data.html">Pesquisa</a>
                <a href="/views/html/login.html" style="color: red;">Sair</a> <!--tem como deslogar?-->
                <div style="display:flex; justify-content: center; padding: 2px; margin: 2px;">
                    <a href=""><img src="/img/logoinsta.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logox.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logowhatsapp.png" alt="" width="15px"></a>
                    <a href=""><img src="/img/logoemail.png" alt="" width="15px"></a>
                </div>
            </div>
        </div>
    </nav>
    <section style="justify-items: center;">
        <div style="border: solid 1px red; border-radius: 50%;">
            <img src="/img/vetor-hacker.png" alt="" height="100px" width="100px">
        </div>
        <h3>Nome de Usuário</h3>
        <h4 style="color: white;">Email</h4>
        <a href="/views/html/editprofile.html" class="contact-btn">Editar Perfil</a>
    </section>
    <footer class="footer">
        <p>© 2025 Tecnoautoritarismo</p>
    </footer>
    <script src="/views/javascript/script.js"></script>
</body>

</html>