<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="email" id="get_email">
    <input type="text" id="get_senha">
    <input type="text" id="get_nome_completo">
    <input type="text" id="get_usuario">

    <p id="resultado">resultado</p>


    <button onclick="login()">clique aqui</button>

    

</body>
    
<script>

async function get_login() {

    const email = "email@email";
    const senha = "123";

    try {
        let response = await fetch(`http://localhost:8000/login/${email}/${senha}`);
        const data = await response.json();
        console.log(data);
        return data;
    } catch (error) {
        console.error(error)
    }
    
}

async function login() {

    let response = await get_login()

    if (response == 200){
        console.log("logado")
    } else {
        console.log("paia")
    }
    
}

</script>
</html>